* {
    padding: 0;
    margin: 0;
}

.login {
    display: flex;
    width: 100px;
    flex-direction: column;

    width: 100%;
    /* background-color: aqua; */
}

.login_top{
    width: 100%;
}

.login-material-symbols-outlined{
    margin-top: 75px;
    margin-left: 35px;
    /* background-color: aquamarine; */
}

.login_text {
    margin-top: 132px;
    margin-left: 43px;
}

.login_text>h1{
    font-size: 28px;
    font-weight: 700;
    color: #000000;
}

.logo{
    margin-top: 31px;
    margin-left: 43px;
}

.logo>h1{
    font-size: 60px;
    font-weight: 700;
}

.login_bottom{
    display: flex;
    /* width: 100px;
    height: 459px; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 198px;
    box-sizing: border-box;

    width: 100%;
    /* background-color: aqua; */
}

.login_bottom>h3{
    font-size: 18px;
    font-weight: 500;
    color: #A4A4A4;
}

.login_btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color: aqua; */
    flex-direction: row;
}

.kakao_btn{
    width: 439px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 217, 0);
    border-radius: 8px;
    margin-top: 25px;
}

.kakao_btn>a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(98, 98, 98);
    font-weight: bolder;
    text-align: center;
}

.naver_btn{
    width: 439px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(57, 194, 57);
    border-radius: 8px;
    margin-top: 17px;
}

.naver_btn>a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.login_help{
    width: 235px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid gray;
    margin-top: 36px;
    background-color: transparent;
}

.login_help>h5{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1%;
    color: gray;
}
