* {
    padding: 0;
    margin: 0;
}

.login {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.login-bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.login-bg>img{
    width: 100%;
}

.login_top{
    width: 100%;
    z-index: 3;
}

.login-material-symbols-outlined{
    margin-top: 4.6875rem;
    margin-left: 2.1875rem;
    /* background-color: aquamarine; */
}

.login-material-symbols-outlined>.material-symbols-outlined{
    font-size: 3.125rem;
}

.login_text {
    margin-top: 7.5rem;
    margin-left: 2.6875rem;
}

.login_text>h1{
    font-size: 1.75rem;
    font-weight: 700;
    color: #000000;
}

.logo{
    margin-top: 1.9375rem;
    margin-left: 2.6875rem;
}

.logo>img{
    width: 14.9375rem;
    height: 3.75rem;
}

.login_bottom{
    display: flex;
    /* width: 100px;
    height: 459px; */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 12.375rem;
    box-sizing: border-box;
    z-index: 3;

    width: 100%;
    /* background-color: aqua; */
}

.login_bottom>h3{
    font-size: 1.125rem;
    font-weight: 600;
    color: #000000;
}

.login_btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color: aqua; */
    flex-direction: row;
}

.kakao_btn{
    width: 27.4375rem;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 217, 0);
    border-radius: 0.5rem;
    margin-top: 1.5625rem;
}

.kakao_btn>img{
    position: relative;
    left: 7rem;
    width: 1.8125rem;
    float: left;
    margin-top: 0.3rem;
}

.kakao_btn>a{
    position: relative;
    width: 27.4375rem;
    height: 4.375rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: #321E1C;
    font-weight: 600;
    text-align: center;

    padding-top: 1.5625rem;
    padding-left: 1.8rem;
    box-sizing: border-box;
}

.naver_btn{
    width: 27.4375rem;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 207, 92, 1);
    border-radius: 0.5rem;
    margin-top: 1.0625rem;
    cursor: pointer;
}

.naver_btn>img{
    position: relative;
    left: 8.2rem;
    width: 1.5rem;
    float: left;
}

.naver_btn>a{
    position: relative;
    width: 27.4375rem;
    height: 4.375rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-align: center;

    padding-top: 1.5625rem;
    padding-left: 1.8rem;
    box-sizing: border-box;
}

.login_help{
    width: 14.6875rem;
    height: 2.1875rem;
    border-radius: 1.875rem;
    border: 0.0625rem solid #FFBB31;;
    margin-top: 2.25rem;
    background-color: transparent;
}

.login_help>h5{
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    color: #FFBB31;
}

