.wrap-main {
  display: flex;
  flex-direction: column;
  width:100%;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}
.wrap-main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}


.main-minibanner{
  width: 100%;
  height: 137px;
  background: #9B9B9B;
  margin-top: 35px;

}
.main-wrap-lowernavbar{
  position: absolute;
  
  top: calc(1030px - 125px);
 
}