.wrap-main {
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 32.8125rem;;
  height: 100vh;
  overflow: auto;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}
.wrap-main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.main-minibanner{
  width: 100%;
  height: 8.5625rem;
  background: #9B9B9B;
  margin-top: 5.25rem;

}
.main-postcollectionstsus-dutch{
  margin-top:3.125rem;
}

.main-postcollection{
  margin-top: 2.625rem;
  margin-left: 1.5rem;
}
.main-postcollectionstatus-goldenbell{
  margin-top: 7rem;

}
.lowernavbar{
  width: 32.8125rem;
  position: fixed;
  top: calc(100vh - 7.8125rem)
} 

@media screen and (min-height:1030px) {
  .lowernavbar{
   top: calc(1030px - 7.8125rem)
  } 
  
}
