.wrap-menuiconbunch {
  width: 473px;
  height: 113px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuiconbunch-wrap-iconAndtext{
    display: flex;
    flex-direction: column;
    justify-items: center;

}
.menuiconbunch-icon {
  width: 80px;
  height: 80px;

  background: #d9d9d9;
  border-radius: 12px;
}
.menuiconbunch-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
text-align: center;
  color: #000000;
  margin-top: 9px;
}
