.wrap-minibanner {
  width: 100%;
  height: 100%;
  background: url("../image/main_mini배너.png") center no-repeat;
  background-size: cover;
  display: flex;
}
.minibanner-text {
  height: 60px;
  margin-left: 44px;
  margin-top: 34px;
  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.03em;
}
.font-orange {
  color: #ffbb31;
}
