

.info_wrap{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

    width: 100%;
    /* background-color: aqua; */
    margin: 0 auto;
    float: left;
    text-align: center;
}

/* .bg{
    width: 100%;
    height: 192px;
    position: absolute;
    z-index: 0;
    background-color: #F7F7F7;
} */

/* .info_user_img{
    width: 103px;
    height: 103px;
    z-index: 1;
    margin: 119px auto 0 auto;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    overflow: hidden;
} */

/* .info_user_img>img{
    width: 103px;
    height: 103px;
} */

.info_user_name{
    display: flex;
    flex-direction: column;
    align-content: center;
    
    width: 100%;
    margin-top: 1.0625rem;
    /* background-color: azure; */
}

.info_user_name>h3{
    font-size: 1.5625rem;
    font-weight: 600;
}

.info_user_address{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    margin-top: 0.625rem;
    /* background-color: rgb(199, 237, 237); */
}

.myinfo-material-icons-outlined{
    font-size: 1.25rem;
    float: left;
    margin-right: 0.5rem;

}

.info_user_address>h5{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.0625rem;
    margin-left: 0.4375rem;
    color: #000000;
}

.info_user_genderAge{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 2rem;
}

.info_user_gender{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 5.1875rem;
    height: 2.4375rem;
    margin-right: 0.625rem;
    background-color: #FFE9BE;
    border-radius: 4.25rem;
}

.info_user_gender>h3{
    font-size: 1.25rem;
    font-weight: 500;
    color: #000000;
}

.info_user_age{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 5.1875rem;
    height: 2.4375rem;
    background-color: #FFE9BE;
    border-radius: 4.25rem;
}

.info_user_age>h3{
    font-size: 1.25rem;
    font-weight: 500;
    color: #000000;
}

.info_user_good{
    position: absolute;
    top: 0px;
    left: 40%;
}

.info-user-countlike {
    width: 6.4375rem;
    height: 3.4375rem;
    margin-top: 3.1875rem;
    position: relative;
    z-index: 2;
  }

  .info-arrow_box {
    width: 6.4375rem;
    height: 2.8125rem;
    position: relative;
    background: #ffffff;
    border: 0.125rem solid #ffe9be;
    border-radius: 1.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-arrow_box:after,
  .info-arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .info-arrow_box:after {
    border-color: rgba(213, 213, 213, 0);
    border-top-color: #ffffff;
    border-width: 0.4375rem;
    margin-left: -0.4375rem;
  }
  .info-arrow_box:before {
    border-color: rgba(2, 2, 3, 0);
    border-top-color: #ffe9be;
    border-width: 0.625rem;
    margin-left: -0.625rem;
  }
  
  .info-like-text {
    font-size: 1.5625rem;
    font-weight: 400;
    margin-left: 0.4375rem;
    margin-bottom: 0.25rem;
  }

.info_user_good>.material-icons-outlined{
    font-size: 1.125rem;
    margin-right: 0.6125rem;
}

.info_user_good>span:last-child{
    font-size: 1.5625rem;
    font-weight: 400;
}

/* .info_user_update_btn{
    width: 100%;
    height: 4.375rem;

    margin-top: 4.425rem;
}

.info_user_update_btn>button{
    width: 90.10%;
    height: 70px;
    border: none;
    background-color: #222222;
    border-radius: 35px;

    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
} */

.myinfo-lowernavbar{
    margin-top: 29.3rem;
}
