.mymodal-close-icon{
    justify-content: end;
    margin-right: 32px;
    display: flex;
    margin-top: 28px;
    
}
.mymodal-firsttext{
    margin-top:31.81px;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-align:center

}
.mymodal-picture-icon{
    margin-top:25px;
    justify-content: center;
    display: flex;
}
.mymodal-secondtext-location{
    margin-top:23.25px
}

.mycodal-secondtext{
    font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
}