.wrap-postcollection{
    width:100%;
}

.postcollection-wrap-postcomponents{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  max-height: 776px;

}
.postcollection-mainposttitle{
margin-bottom: 28px;
}


.postcollection-wrap-postcomponents::-webkit-scrollbar{
    display: none;
}
