.wrap-postnocomponent {
  background: #eaeaea;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 261px;
  height: 221px;
}
.posnocomponent-location-icon {
  margin-top: 105.18px;
}
.posnocomponent-text {
  margin-top: 29.18px;
  font-weight: 400;
  font-size: 29px;
  line-height: 40px;
  color: #ffffff;
}

