.postcollection-wrap-postcomponents{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 776px;

}


.postcollection-wrap-postcomponents::-webkit-scrollbar{
    display: none;
}
