.select_gps{
    width: 100%;
    z-index: 1;
    /* height: 100vh; */
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
    background-color: aquamarine;
}

.select_gps_top{
    z-index: 2;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0.0625rem 0.3125rem 1.25rem 0.8125rem rgba(120, 120, 120, 0.2);

    width: 100%;
    height: 20.75rem;
    padding-top: 5.3125rem;
    box-sizing: border-box;
    background-color: #FFF9EC;
}

.select_gps_count>p{
    margin-left: 2.6875rem;
    font-size: 1.1875rem;
    font-weight: 400;
}

.select_gps_title{
    margin-left: 2.6875rem;
    margin-top: 1.25rem;
    /* background-color: aquamarine; */
}

.select_gps_title>h2{
    font-size: 2.125rem;
    font-weight: 700;
}

.select_gps_value{
    display: flex;
    width: 27.5rem;
    height: 2.3125rem;
    margin-top: 1.4375rem;
    margin-left: 2.6875rem;
    float: left;
    padding-top: 0.375rem;
    padding-left: 0.75rem;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    background-color: rgb(255, 255, 255);
}

.select_gps_value>.material-icons-outlined{
    font-size: 1.625rem;
    color: #FFBB31;
}

.select_gps_value>p{
    margin-left: 1.0831rem;
    font-size: 1.1875rem;
    font-weight: 700;
    height: 2.3125rem;
    color: #FFBB31;
}

.select_gps_bottom{
    z-index: 2;
    position: absolute;
    top: 100vh;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 7.125rem;
}

.select_gps_bottom>.gps-search-icon{
    font-size: 1.375rem;
    z-index: 5;
    position: absolute;
    top: 27%;
    left:10.5%;
    color: #BBB8CF;
}

.search-bg{
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: flex-end;
    background-color: #FFBB31;
    border-radius: 1.25rem 1.25rem 0 0;
}

.mapgps{
    position: absolute;
    z-index: 1;
    width: 100%;
    /* height: 100%; */
    background-color: rgb(204, 233, 233);
}