
html,
body {
  position: relative;
  height: 100%;
}

.Enter-Swiper {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.Enter-SwiperSlide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet {
  background-color: #ffbb31;
  width: 0.75rem;
  height: 0.75rem;
}
.swiper-button-prev {
  position: absolute;
  width: 2.8125rem;
  height: 3rem;
  left: 0;
  top: 30rem;
  background-color: #d9d9d9;
  color: #fff;
}
.swiper-button-next {
  position: absolute;
  width: 2.8125rem;
  height: 3rem;
  left: 30rem;
  top: 30rem;
  background-color: #d9d9d9;
  color: #fff;
}

.swiper-button-next::after {
  font-size: 1.25rem;
}

.swiper-button-prev::after {
  font-size: 1.25rem;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .swiper-pagination-horizontal{
  left: 100px;
  top: 1.9375rem;
} */
