.useprofile-wrap {
 
  height: 1030px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userprofile-header-wrap {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 75px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}
.userprofile-header-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 830px;
}
.user-wrap-countlike {
  width: 103px;
  height: 55px;
  margin-top: 51px;
  position: relative;
  z-index: 2;
}
.user-column-countlike {
  height: 45px;
  box-sizing: border-box;
  background: #d9d9d9;
  border: 2px solid #e7e7e7;
  border-radius: 26px;
}
.user-img {
  width: 113px;
  height: 113px;
  margin-top: 34px;
  margin-left: 206px;
  border-radius: 50%;
}
.user-nick {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin-top: -13px;
}

.user-wrap-sexAndage {
  display: flex;
  flex-direction: row;
  width: 182.09px;
  height: 39.21px;
  justify-content: center;
  gap: 9.91px;
  margin-top: 20px;
}
.user-sexAndage {
  width: 83px;
  height: 39px;

  border-radius: 68px;
  background: #ffe9be;
  transform: rotate(0.13deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-sexAndage-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.user-wrap-like {
  display: flex;
  flex-direction: row;
  width: 445px;
  height: 70px;
  justify-content: space-between;
  margin-top: 47.8px;
  left: 50%;
}
.user-like {
  box-sizing: border-box;
  width: 216px;
  height: 70px;
  background: #ffe9be;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-like-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: #ffbb31;
}
.user-nev {
}
.triangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  transform: rotate(90deg);
}

.arrow_box {
  width: 103px;
  height: 45px;
  position: relative;
  background: #ffffff;
  border: 2px solid #ffe9be;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(213, 213, 213, 0);
  border-top-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.arrow_box:before {
  border-color: rgba(2, 2, 3, 0);
  border-top-color: #ffe9be;
  border-width: 10px;
  margin-left: -10px;
}

.userprofile-like-text {
  font-size: 25px;
  font-weight: 400;
  margin-left: 2px;
}
.userprofile-background-img {
  transform: translate(0px, -10px);
  height: 175px;
  z-index: 1;
  width: 100%;
  background: url("../image/회원가입_프로필.png") center no-repeat;
  background-size: cover;
}

.user-wrap-userchange {
  margin-top: 80px;
  width: 100%;
}
.user-userchange-title {
  font-family: "AppleSDGothicNeoB00";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  color: #000000;
  margin-left: 41px;
 
}
.user-wrap-userchange-userlist{
  width: 100%;
  height: 198px;
  margin-top: 13px;
  overflow: auto;
}
.user-wrap-userchange-userlist::-webkit-scrollbar{
  display: none;
}

