
.write{
    width: 100%;
    /* background-color: aqua; */
}

.write_top{
    width: 100%;
    height: 75px;
    position: relative;
}

.write-close-btn{
    width: 100px;
    height: 75px;
    float: left;
}

.write-close-btn>.material-icons{
    font-size: 50px;
    margin-top: 11px;
    margin-left: 43px;
}

.write_top_title{
    width: 325px;
    height: 75px;

    text-align: center;
    float: left;
}

.write_top_title>h1{
    font-size: 26px;
    font-family: 'cookie';
    font-weight: 300;
    margin-top: 20px;
}

.send_btn{
    width: 100px;
    height: 75px;
    float: left;
}

.send_btn>h1{
    font-size: 20px;
    font-weight: 400;

    margin-top: 23px;
    margin-left: 17px;
}

.write-center{
    width: 100%;
    height: 611px;
    background-color: #FCFCFC;
    padding-top: 33px;
    box-sizing: border-box;
}

.write-select{
    width: 437px;
    height: 554px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;

    margin: 0 auto 0 auto;
    text-align: center;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.03);
}

.write_title>input{
    width: 413px;
    height: 60px;
    border: none;
    background-color: transparent;
    font-size: 19px;
    padding-left: 5px;
    box-sizing: border-box;

    border-bottom: 1px solid #FFFCF6;
}

.write_text>textarea{ 
    width: 413px;
    height: 178px;
    border: none;
    border-bottom: 1px solid #FFFCF6;
    resize: none;
    /* 줄바꿈 공백 연속공백이 보존되면서 크기에 따라 자동줄바꿈이 일어난다. */
    white-space: pre-wrap;
    background-color: transparent;
    font-size: 19px;

    padding-left: 5px;
    padding-top: 15px;
    box-sizing: border-box;
}

.write_address{
    margin: 39px auto 0 auto;

    width: 397px;
    height: 26px;
    border-radius: 10px;
}

.write-address-title{
    width: 80px;
    float: left;
}

.write-address-title>h3{
    font-size: 20px;
    text-align: left;
    float: left;
}

.write-address-title>.material-icons-outlined{
    text-align: left;
    color: #FFE9BE
}

.write-address-text{
    width: 273px;
    text-align: right;
    float: right;
    margin-top: 3px;
}

.write-address-text>span{
    font-size: 19px;
    font-weight: 400;
    text-align: right;
}

.write_date{
    margin: 25px auto 0 auto;

    width: 397px;
    height: 26px;
    border-radius: 10px;
}

.write-date-title{
    width: 80px;
    float: left;
}

.write-date-title>h3{
    font-size: 20px;
    text-align: left;
    float: left;
}

.write-date-title>.material-icons-outlined{
    text-align: left;
    color: #FFE9BE
}

.write-date-text{
    width: 273px;
    text-align: right;
    float: right;
    margin-top: 3px;
}

.write-date-text>span{
    font-size: 19px;
    font-weight: 400;
    text-align: right;
}

.write_people_count{
    margin: 25px auto 0 auto;

    width: 397px;
    height: 26px;
    border-radius: 10px;
}

.write-people-count-title{
    /* width: 100px; */
    float: left;
    /* background-color: aqua; */
}

.write-people-count-title>h3{
    font-size: 20px;
    text-align: left;
    float: left;
}

.write-people-count-title>.material-icons-outlined{
    text-align: left;
    margin-left: 6px;
    color: #FFE9BE
}

.write-people-count-text{
    width: 273px;
    text-align: right;
    float: right;
    margin-top: 3px;
    /* background-color: aqua; */
}

.write-people-count-text>span{
    font-size: 19px;
    font-weight: 400;
    text-align: right;
    /* background-color: aqua; */
}

.write_menu{
    margin: 25px auto 0 auto;

    width: 397px;
    height: 26px;
    border-radius: 10px;
}

.write-menu-title{
    width: 80px;
    float: left;
    /* background-color: aqua; */
}

.write-menu-title>h3{
    font-size: 20px;
    text-align: left;
    float: left;
}

.write-menu-title>.material-icons-outlined{
    text-align: left;
    margin-left: 6px;
    color: #FFE9BE
}

.write-menu-text{
    width: 273px;
    text-align: right;
    float: right;
    margin-top: 3px;
}

.write-menu-text>span{
    font-size: 19px;
    font-weight: 400;
    text-align: right;
}

.write_payment{
    margin: 25px auto 0 auto;

    width: 397px;
    height: 26px;
    border-radius: 10px;
}

.write-payment-title{
    width: 110px;
    float: left;
    /* background-color: aqua; */
}

.write-payment-title>h3{
    font-size: 20px;
    text-align: left;
    float: left;
}

.write-payment-title>.material-icons-outlined{
    text-align: left;
    margin-left: 6px;
    color: #FFE9BE;
    font-size: 28px;
}

.write-payment-text{
    width: 273px;
    text-align: right;
    float: right;
    margin-top: 3px;
}

.write-payment-text>span{
    font-size: 19px;
    font-weight: 400;
    text-align: right;
}

.write_bottom{
    width: 100%;
    height: 344px;
}

.write_condition {
    width: 437px;
    height: 344px;

    margin: 0 auto 0 auto;
    text-align: center;
}

.write_condition_title{
    width: 100%;
    text-align: left;
}

.write_condition_title>h3{
    font-size: 23px;
    font-weight: 700;

    margin-top: 20px;
}

.write_gender{
    width: 100%;
    height: 52px;
    border: 2px solid #FFE9BE;
    border-radius: 12px;

    margin-top: 9px;
}

.write_age{
    width: 100%;
    height: 52px;
    border: 2px solid #FFE9BE;
    border-radius: 12px;

    margin-top: 9px;
}

.write_gender>input{
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;

    margin-top: 16px;
    margin-left: 16px;
    display: none;
    background-color: antiquewhite;
}

.write_age>input{
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;

    margin-top: 16px;
    margin-left: 16px;
    display: none;
    background-color: antiquewhite;
}

.write_gender>input:checked +.check-flex-gender .check-line-gender{
    background-color: #FFBB31;
    border: none;
    position: relative;
}

.write_age>input:checked +.check-flex-age .check-line-age{
    background-color: #FFBB31;
    border: none;
    position: relative;
}

.write_gender>input:checked +.check-flex-gender .check-line-gender::after{
    content: '';
    width: 8px;
    height: 12px;
    border: 2px solid white;
    border-left: none;
    border-top: none;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 4px);
    box-sizing: border-box;
    transform: rotate(45deg);
}

.write_age>input:checked +.check-flex-age .check-line-age::before{
    content: '';
    width: 8px;
    height: 12px;
    border: 2px solid white;
    border-left: none;
    border-top: none;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 4px);
    box-sizing: border-box;
    transform: rotate(45deg);
}

.check-flex-gender{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-flex-age{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-gender{
    display: flex;
    justify-content:left;
    align-items: center;
    /* width: 85px; */
    height: 52px;
    /* background-color: aqua; */
}

.check-age{
    display: flex;
    justify-content:left;
    align-items: center;
    /* width: 85px; */
    height: 52px;
    /* background-color: aqua; */
}

.check-gender>.check-line-gender{
    width: 20px;
    height: 20px;
    border: 2px solid #FFBB31;
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 17px;
}

.check-age>.check-line-age{
    width: 20px;
    height: 20px;
    border: 2px solid #FFBB31;
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 17px;
}

.check-gender>h3{
    float: left;
    font-size: 20px;
    font-weight: 700;
}

.check-age>h3{
    float: left;
    font-size: 20px;
    font-weight: 700;
}

.gender_btn{
    font-size: 19px;
    font-weight: 500;
    text-align: right;
    float: right;

    margin-right: 16px;
}

.age_btn{
    font-size: 19px;
    font-weight: 500;
    text-align: right;
    float: right;

    margin-right: 16px;
}

.write_send_btn{
    width: 445px;
    height: 70px;

    margin-top: 53px;
}

.write_send_btn>button{
    width: 445px;
    height: 70px;
    border: none;
    border-radius: 35px;
    background-color: #FFBB31;

    font-size: 20px;
    font-weight: 400;
    color: white;
}

