
.write{
    width: 100%;
    /* background-color: aqua; */
}

.write_top{
    width: 100%;
    height: 4.6875rem;
    position: relative;
}

.write-close-btn{
    width: 6.25rem;
    height: 4.6875rem;
    float: left;
    padding-top: 0.75rem;
    padding-left: 2.6875rem;
}

.write_top_title{
    width: 20.3125rem;
    height: 4.6875rem;

    text-align: center;
    float: left;
}

.write_top_title>h1{
    font-size: 1.625rem;
    font-weight: 700;
    margin-top: 1.25rem;
}

.send_btn{
    width: 6.25rem;
    height: 4.6875rem;
    float: left;
}

.send_btn>h1{
    font-size: 1.25rem;
    font-weight: 400;

    margin-top: 1.4375rem;
    margin-left: 1.0625rem;
}

.write-center{
    width: 100%;
    height: 38.1875rem;
    background-color: #FCFCFC;
    padding-top: 2.0625rem;
    box-sizing: border-box;
}

.write-select{
    width: 27.3125rem;
    height: 34.625rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    overflow: hidden;

    margin: 0 auto 0 auto;
    text-align: center;
    box-shadow: 0rem 0.25rem 1.6875rem rgba(0, 0, 0, 0.03);
}

.write_title>input{
    width: 25.8125rem;
    height: 3.75rem;
    border: none;
    background-color: transparent;
    font-size: 1.1875rem;
    padding-left: 0.3125rem;
    box-sizing: border-box;

    border-bottom: 0.0625rem solid #FFFCF6;
}

.write_text>textarea{ 
    width: 25.8125rem;
    height: 11.125rem;
    border: none;
    border-bottom: 0.3125rem solid #FFFCF6;
    resize: none;
    /* 줄바꿈 공백 연속공백이 보존되면서 크기에 따라 자동줄바꿈이 일어난다. */
    white-space: pre-wrap;
    background-color: transparent;
    font-size: 1.1875rem;

    padding-left: 0.3125rem;
    padding-top: 0.9375rem;
    box-sizing: border-box;
}

.write_address{
    margin: 2.4375rem auto 0 auto;

    width: 24.8125rem;
    height: 1.625rem;
    border-radius: 0.625rem;
}

.write-address-title{
    width: 5rem;
    float: left;
}

.write-address-title>h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    text-align: left;
    float: left;
}

.write-address-title>.material-icons-outlined{
    text-align: left;
    color: #FFE9BE;
    margin-top: 0.125rem;
}

.write-address-text{
    width: 17.0625rem;
    text-align: right;
    float: right;
    margin-top: 0.1875rem;
}

.write-address-text>span{
    font-size: 1.1875rem;
    font-weight: 300;
    text-align: right;
}

.write_date{
    margin: 1.5625rem auto 0 auto;

    width: 24.8125rem;
    height: 1.625rem;
    border-radius: 0.625rem;
}

.write-date-title{
    width: 5rem;
    float: left;
}

.write-date-title>h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    text-align: left;
    float: left;
}

.write-date-text{
    width: 17.0625rem;
    text-align: right;
    float: right;
    margin-top: 0.1875rem;
}

.write-date-text>span{
    font-size: 1.1875rem;
    font-weight: 300;
    text-align: right;
}

.write_people_count{
    margin: 1.5625rem auto 0 auto;

    width: 24.8125rem;
    height: 1.625rem;
    border-radius: 0.625rem;
}

.write-people-count-title{
    /* width: 100px; */
    float: left;
    /* background-color: aqua; */
}

.write-people-count-title>h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    text-align: left;
    float: left;
    margin-right: 0.375rem;
}

.write-people-count-text{
    width: 17.0625rem;
    text-align: right;
    float: right;
    margin-top: 0.1875rem;
    /* background-color: aqua; */
}

.write-people-count-text>span{
    font-size: 1.1875rem;
    font-weight: 300;
    text-align: right;
    /* background-color: aqua; */
}

.write_menu{
    margin: 1.5625rem auto 0 auto;

    width: 24.8125rem;
    height: 1.625rem;
    border-radius: 0.625rem;
}

.write-menu-title{
    width: 5rem;
    float: left;
    /* background-color: aqua; */
}

.write-menu-title>h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    text-align: left;
    float: left;
}

.write-menu-text{
    width: 17.0625rem;
    text-align: right;
    float: right;
    margin-top: 0.1875rem;
}

.write-menu-text>span{
    font-size: 1.1875rem;
    font-weight: 300;
    text-align: right;
}

.write_payment{
    margin: 1.5625rem auto 0 auto;

    width: 24.8125rem;
    height: 1.625rem;
    border-radius: 0.625rem;
}

.write-payment-title{
    width: 6.875rem;
    float: left;
    /* background-color: aqua; */
}

.write-payment-title>h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    text-align: left;
    float: left;
}

.write-payment-text{
    width: 17.0625rem;
    text-align: right;
    float: right;
    margin-top: 0.1875rem;
}

.write-payment-text>span{
    font-size: 1.1875rem;
    font-weight: 300;
    text-align: right;
}

.write_bottom{
    width: 100%;
    height: 21.5rem;
}

.write_condition {
    width: 27.3125rem;
    height: 21.5rem;

    margin: 0 auto 0 auto;
    text-align: center;
}

.write_condition_title{
    width: 100%;
    text-align: left;
}

.write_condition_title>h3{
    font-size: 1.4375rem;
    font-weight: 700;
    color: #000000;
    margin-top: 1.25rem;
}

.write_gender{
    width: 100%;
    height: 3.25rem;
    border: 0.125rem solid #FFE9BE;
    border-radius: 0.75rem;

    margin-top: 0.5625rem;
}

.write_age{
    width: 100%;
    height: 3.25rem;
    border: 0.125rem solid #FFE9BE;
    border-radius: 0.75rem;

    margin-top: 0.5625rem;
}

.write_gender>input{
    float: left;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;

    margin-top: 1rem;
    margin-left: 1rem;
    display: none;
    background-color: antiquewhite;
}

.write_age>input{
    float: left;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;

    margin-top: 1rem;
    margin-left: 1rem;
    display: none;
    background-color: antiquewhite;
}

.write_gender>input:checked +.check-flex-gender .check-line-gender{
    background-color: #FFBB31;
    border: none;
    position: relative;
}

.write_age>input:checked +.check-flex-age .check-line-age{
    background-color: #FFBB31;
    border: none;
    position: relative;
}

.write_gender>input:checked +.check-flex-gender .check-line-gender::after{
    content: '';
    width: 0.5rem;
    height: 0.75rem;
    border: 0.125rem solid white;
    border-left: none;
    border-top: none;
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.25rem);
    box-sizing: border-box;
    transform: rotate(45deg);
}

.write_age>input:checked +.check-flex-age .check-line-age::before{
    content: '';
    width: 0.5rem;
    height: 0.75rem;
    border: 0.125rem solid white;
    border-left: none;
    border-top: none;
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.25rem);
    box-sizing: border-box;
    transform: rotate(45deg);
}

.check-flex-gender{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-flex-age{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-gender{
    display: flex;
    justify-content:left;
    align-items: center;
    /* width: 85px; */
    height: 3.25rem;
    /* background-color: aqua; */
}

.check-age{
    display: flex;
    justify-content:left;
    align-items: center;
    /* width: 85px; */
    height: 3.25rem;
    /* background-color: aqua; */
}

.check-gender>.check-line-gender{
    width: 1.25rem;
    height: 1.25rem;
    border: 0.125rem solid #FFBB31;
    box-sizing: border-box;
    margin-right: 0.9375rem;
    margin-left: 1.0625rem;
    margin-bottom: 0.125rem;
}

.check-age>.check-line-age{
    width: 1.25rem;
    height: 1.25rem;
    border: 0.125rem solid #FFBB31;
    box-sizing: border-box;
    margin-right: 0.9375rem;
    margin-left: 1.0625rem;
    margin-bottom: 0.125rem;
}

.check-gender>h3{
    float: left;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.1875rem;
}

.check-age>h3{
    float: left;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.1875rem;
}

.gender_btn{
    font-size: 1.1875rem;
    font-weight: 500;
    text-align: right;
    float: right;

    margin-right: 1rem;
    margin-bottom: 0.3125rem;
}

.age_btn{
    font-size: 1.1875rem;
    font-weight: 500;
    text-align: right;
    float: right;

    margin-right: 1rem;
    margin-bottom: 0.3125rem;
}

.write_send_btn{
    width: 27.8125rem;
    height: 4.375rem;

    margin-top: 3.3125rem;
}

.write_send_btn>button{
    width: 27.8125rem;
    height: 4.375rem;
    border: none;
    border-radius: 2.1875rem;
    background-color: #FFBB31;

    font-size: 1.35rem;
    font-weight: 600;
    color: white;
}

