.write{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}

.write_top{
    width: 100%;
    height: 75px;
    background-color: aquamarine;
    position: relative;
    float: left;
}

.write_address{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background-color: azure;
}