.wrap-mainbanner {
  width: 100%;
  height: 11.3125rem;
  background: url("../../image/main_배너.png") center no-repeat;
  background-size: cover;
}
.mainbanner-wrap-logoAndtext {
  margin-left: 2.75rem;
  margin-top: 1.875rem;
}
.mainbanner-logo{
  width: 3.25rem;
  height: 0.8125rem;
  background: url("../../image/logo.png") center no-repeat;
  background-size: cover;
}

.mainbanner-text {
  margin-top: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.875rem;
  letter-spacing: -0.03em;
}
.mainbanner-link-text {
  margin-top: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #ffbb31;
  cursor: pointer;
}

.font-color {
  color: #ffbb31;
}
