.wrap-mainbanner {
  width: 100%;
  height: 181px;
  background: url("../../image/main_배너.png") center no-repeat;
  background-size: cover;
}
.mainbanner-wrap-logoAndtext {
  margin-left: 44px;
  margin-top: 30px;
}
.mainbanner-logo{
  width: 52px;
  height: 13px;
  background: url("../../image/logo.png") center no-repeat;
  background-size: cover;
}
.mainbanner-logo {
}
.mainbanner-text {
  margin-top: 13px;
  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;

  letter-spacing: -0.03em;
}
.mainbanner-link-text {
  margin-top: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffbb31;
  cursor: pointer;
}

.font-color {
  color: #ffbb31;
}
