.wrap-minibanner {
  width: 100%;
  height: 100%;
  background: url("../../image/main_mini배너.png") center no-repeat;
  background-size: cover;
  display: flex;
}
.minibanner-text {
  height: 3.75rem;
  margin-left: 2.75rem;
  margin-top: 2.125rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: -0.03em;
}
.font-orange {
  color: #ffbb31;
}
