.wrap-postseemorepost {

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  width: 16.3125rem;
  height: 13.8125rem;
}
.postseemorepost-location-icon {
  margin-top: 5.25rem;
  width: 1.8125rem;
  height: 1.8125rem;
}
.postseemorepost-text {
 
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  color: #ffc034;
  margin-top: 1.0625rem;
}
