.wrap-postnocomponent {
  background: #eaeaea;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16.3125rem;
  height: 13.75rem;
}
.posnocomponent-location-icon {
  margin-top: 4.436875rem;
}
.posnocomponent-text {
  margin-top:0.6875rem;
  font-weight: 400;
  font-size: 1.8125rem;
  line-height: 2.5rem;
  color: #ffffff;
}

