.postcollectionstatus-wrap-postcomponents{
    display: flex;
    max-height: 45.75rem; 
}
.postcollectionstatus-wrap-postcomponents::-webkit-scrollbar{
    display: none;
}
.wrap-postcollectionstatus{
    margin-left: 1.5rem;
}