.wrap-postnocomponentstatus {
    background: #eaeaea;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.25rem;
  }
  .postnocomponentstatus-location-icon {
    margin-top: 6.57375rem;
  }
  .postnocomponentstatus-text {
    margin-top: 1.82375rem;
    font-weight: 400;
    font-size: 1.8125rem;
    line-height: 2.5rem;
    color: #ffffff;
  }
  
  