.material-symbols-outlined {
  font-size: 25px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.material-incons-outlined {
  font-size: 25px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.wrap-lowernavbar {
  display: flex;
  flex-direction: row;
  background-color: white;

  width: 100%;
  height: 7.8125rem;
}

.wrap-symbols-text {
  width:  5.8125rem;
  height: 4.875rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  cursor: pointer;

  /* margin-top: 24px; */
}
.lowernavbar-location-symbol {
  margin-top: 0.625rem;
  margin-bottom: 0.1875rem;
}
.lowernavbar-center {
  width: 100%;
  display: flex;
  justify-content: center;
  height:0.3125rem;
}
.lowernavbar-indicator-circle {
  width: 0.3125rem;
  height: 0.3125rem;
  background: #FFBB31;
  border-radius: 0.3125rem;
  margin-bottom: 0.375rem;
}
.symbols-text {
  height: 1.25rem;
  font-size: 0.875rem;
  line-height:1.25rem;
}
