.mymodal-close-icon{
    justify-content: end;
    margin-right: 32px;
    display: flex;
    margin-top: 35px;
    
}
.mymodal-firsttext{
    margin-top:18px;
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
text-align: center;

}
.mymodal-picture-location{
    margin-top:20px;
    justify-content: center;
    display: flex;
}
.mymodal-picture{
    width: 349px;
    height: 110px;

}
.mymodal-secondtext-location{
    margin-top:6px
}

.mycodal-secondtext{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: center;
}