
.wrap-app{
  max-width:1920px;
  height: 1030px;
 
  background: url("./image/웹앱_배경.png") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
 
}
  
.wrap-app-webview{
 
  width: 40%;
  height: 100%;
  padding: 98px 0px 0px 0px;
  margin-right: 12.938rem;
}
@media screen and (max-width: 1182px) {
  .wrap-app{
    background-image: none;
    justify-content: center;
    background-color: #FFF7E3;
  }
  .wrap-app-webview{
    display: none;
  } 
  .wrap-app-appview{
    width: 525px;
    margin-right: 0px;
  }
}
.wrap-app-appview{
 
  min-width: 525px;
  width: 525px;
  height: 100%;
  background: white;
  overflow: auto;

}
.wrap-app-appview::-webkit-scrollbar{
  display: none;
}

.font-corlor-orange{
  color: #FFBB31 ;
}

