
.wrap-app{
  width:100vw;
  height:100vh;
  background: url("./image/웹앱_배경.png") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

 
}
  
.wrap-app-webview{
 
  
  margin-right: 12.938rem;
  height: 100vh;
    max-height: 1030px;
}

@media screen and (max-width: 1182px) {
  .wrap-app{
    width:100vw;
    background-image: none;
    display: flex;
    justify-content: center;
    background-color: #FFF7E3;
  }
  .wrap-app-webview{
    display: none;
  } 
  .wrap-app-appview{
    width:32.8125rem;
    max-width: none;
    margin-right: 0px;
  }

}

@media screen and (max-width: 512px) {
  .wrap-app{
    width:100vw;
    background-image: none;
    display: flex;
    justify-content: center;
    background-color: #FFF7E3;
    min-width: 355px;
  }
  .wrap-app-webview{
    display: none;
  } 
  .wrap-app-appview{
    width:32.8125rem;
    max-width: none;
    margin-right: 0px;
    min-width: 355px;
  }

}

.wrap-app-appview{
 
 
  height: 1030px;
  background: white;
  overflow: auto;
  width:100vw;
  max-width:32.8125rem;

}
.wrap-app-appview::-webkit-scrollbar{
  display: none;
}

.font-corlor-orange{
  color: #FFBB31 ;
}

