
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}


body {
  margin: 0;
  font-family: "Noto Sans KR", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar {
  display: none;
}
/* noto-sans-kr-regular - latin */

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Light.otf") format("woff2"),

}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Regular.otf") format("woff2"),
  
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Medium.otf") format("woff2"),
   
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Bold.otf") format("woff2"),

}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Black.otf") format("woff2"),
}
 
.font-regural{
font-weight:400 ;
}
.font-medium{
  font-weight:500 ;
}
.font-bold{
  font-weight:700 ;
}
.font-black{
  font-weight:900 ;
}

@media all and (max-width: 800px) {
  html {
  
    font-size: 85%;
  }
}

@media all and (max-width: 600px) {
  html {

    font-size: 80%;
  }
}

@media all and (max-width: 450px) {
  html {
   
    font-size: 70%;
  }
}

@media all and (max-width: 400px) {
  html {
  
    font-size: 62.5%;
  }
}

@media all and (max-width: 330px) {
  html {

    font-size: 55%;
  }
}

@media all and (max-width: 300px) {
  html {
 
    font-size: 48.3%;
  }
}

