
* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Noto Sans KR", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  overflow: hidden;
}
.body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar {
  display: none;
}
/* noto-sans-kr-regular - latin */

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Light-subset.otf") format("woff2"),

}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Regular-subset.otf") format("woff2"),
  
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Meduim-subset.otf") format("woff2"),
   
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Bold-subset.otf") format("woff2"),

}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  src: local("Noto Sans KR"),
    url("../src/assets/fonts/NotoSansKR-Black-subset.otf") format("woff2"),
}
 
.font-regural{
font-weight:400 ;
}
.font-medium{
  font-weight:500 ;
}
.font-bold{
  font-weight:700 ;
}
.font-black{
  font-weight:900 ;
}

@media all and (max-width: 800px ),screen and(max-height:400px) {
  html {
  
    font-size: 85%;
  }
}

@media all and (max-width: 600px),screen and(max-height:300px) {
  html {

    font-size: 80%;
  }
}

@media all and (max-width: 450px),screen and(max-height:225px) {
  html {
   
    font-size: 70%;
  }
}

@media all and (max-width: 400px),screen and(max-height:200px) {
  html {
  
    font-size: 62.5%;
  }
}

@media all and (max-width: 330px),screen and(max-height:165px) {
  html {

    font-size: 55%;
  }
}

@media all and (max-width: 300px),screen and(max-height:150px) {
  html {
 
    font-size: 48.3%;
  }
}


