
@font-face {
  font-family: 'Black Han Sans';
  src: url("./fonts/Black_Han_Sans/BlackHanSans-Regular.ttf");
}
/* font-family: 'Black Han Sans', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Hi Melody', cursive;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Single Day', cursive; */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
 display:none;
}

